#header-img {
  width: 60px;
  height: 60px;
}

.nav-link {
  color: white;
}

main {
  background: rgb(138, 138, 235);
  margin-top: 82px;
}

#featured {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 80vh;
}

.list-group-item {
  margin: 20px;
  padding: 20px;
  background-color: darkslateblue;
  color: white;
  font-size: 1.2em;
}
#how_it_works {
  margin: 20px;
  padding: 40px;
}

.pricing-section .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  height: 500px;
}

@media (max-width: 800px) {
}
